body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.page {
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  padding: 20px;
}

.page.active {
  display: flex;
}

.bg1 { background-image: url("../images/bg1.jpg"); }
.bg2 { background-image: url("../images/bg2.jpg"); }
.bg3 { background-image: url("../images/bg3.jpg"); }
.bg4 { background-image: url("../images/bg4.jpg"); }

button {
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  background: #ffcc70;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.main-img {
  width: 260px;
  border-radius: 20px;
  box-shadow: 0 0 20px pink;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.cards div {
  width: 120px;
  height: 160px;
  background: #a0203a;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gallery img {
  width: 160px;
  margin: 10px;
  border-radius: 15px;
}

.message {
  background: rgba(0,0,0,0.5);
  padding: 30px;
  border-radius: 20px;
}
